<h2>Comments</h2>
{{#each model as |comment|}}
  {{comment.body}}
  <br>
  <hr>
{{/each}}

<br>

{{outlet}}

{{#unless addingComment}}
  <button class="btn btn-info" {{action 'addComment'}}>Add Comment</button>
{{/unless}}

